

.normal_block{
    background-position: sprite("star.png"); /* no params*/
    background-image: url(sprite.png);
    background-repeat: no-repeat;
    
    width: 46px;
    height: 49px;
    margin: 10px;
    border: 1px solid #333;
}

.resized_block{
    background-position: sprite("star.png","width:300; height:30; resize: true");
    background-image: url(sprite.png);
    background-repeat: no-repeat;
    
    width: 300px;
    height: 30px;
    margin: 10px;
    border: 1px solid #333;
}

.repeat-x_block{
    background-position: sprite("star.png","repeat:x");
    background-image: url(sprite.png);
    background-repeat: repeat-x;
    
    height: 49px;
    margin: 10px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.repeat-y_block{
    background-position: sprite("star.png","repeat:y; limit-repeat-y: 300");
    background-image: url(sprite.png);
    background-repeat: repeat-y;
    
    width: 46px;
    height: 300px;
    margin: 10px;
    border: 1px solid #333;
}

.aligned_block{
    background-position: sprite("star.png","height:300; valign:bottom; align:right");
    background-image: url(sprite.png);
    background-repeat: no-repeat;
    
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid #333;
}

.leftalign_block{
    background-position: sprite("star.png","align:left");
    background-image: url(sprite.png);
    background-repeat: no-repeat;
    
    width: 300px;
    height: 49px;
    margin: 10px;
    border: 1px solid #333;
}

.centeralign_block{
    background-position: sprite("star.png","align:center; width: 300");
    background-image: url(sprite.png);
    background-repeat: no-repeat;
    
    width: 300px;
    height: 49px;
    margin: 10px;
    border: 1px solid #333;
}

.middlealign_block{
    background-position: sprite("star.png","valign:middle;height:300");
    background-image: url(sprite.png);
    background-repeat: no-repeat;
    
    height: 300px;
    width: 46px;
    margin: 10px;
    border: 1px solid #333;
}